version: 2.1

orbs:
    orb-tools: circleci/orb-tools@9.1.0
    samvera: samvera/circleci-orb@dev:alpha

orb_promotion_filters: &orb_promotion_filters
    branches:
        ignore: /.*/
    tags:
        only: /^(major|minor|patch)-release-v\d+\.\d+\.\d+$/

parameters:
    run-integration-tests:
        type: boolean
        default: false
    dev-orb-version:
        type: string
        default: 'dev:alpha'

jobs:
    integration-tests:
        executor: orb-tools/ubuntu
        steps:
            - checkout
            # TODO: integration testing

workflows:
    lint_pack-validate_publish-dev:
        unless: << pipeline.parameters.run-integration-tests >>
        jobs:
            - orb-tools/lint

            # Disable shellcheck, which fails when we use CircleCI params
            # - orb-tools/shellcheck

            - orb-tools/pack

            - orb-tools/publish-dev:
                orb-name: samvera/circleci-orb
                requires:
                    - orb-tools/lint
                    # - orb-tools/shellcheck
                    - orb-tools/pack

            - orb-tools/trigger-integration-tests-workflow:
                name: trigger-integration-dev
                requires:
                    - orb-tools/publish-dev

    integration-tests:
        when: << pipeline.parameters.run-integration-tests >>
        jobs:
            - integration-tests

    tag-triggered-orb-publishing:
        unless: << pipeline.parameters.run-integration-tests >>
        jobs:
            # To approve the job, visit the Workflows page in CircleCI
            - hold-for-approval:
                type: approval
                filters: *orb_promotion_filters

            - orb-tools/dev-promote-prod-from-git-tag:
                orb-name: samvera/circleci-orb
                add-pr-comment: false
                requires:
                    - hold-for-approval
                filters: *orb_promotion_filters
